<div class="abc">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
        </style>
    <h1>Meses</h1>
    <a href="/menu" class="boton">
        <img src="../../assets/img/Regresar.png" alt="Botón de otra página">
    </a>
</div>
<div class="container">
    <div class="imagenes">
        <a href="/agosto">
            <img src="../../assets/abecedario_IMG/izq.png" alt="Imagen izquierda" class="imagen izquierda">
        </a>
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <img src="../../assets/meses/Septiembre.png" alt="Imagen frontal" class="imagen central">
                </div>
                <div class="back">
                    <video class="video central" controls>
                        <source src="../../assets/videoimg_abecedario/meses/septiembre.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <a href="/octubre">
            <img src="../../assets/abecedario_IMG/der.png" alt="Imagen derecha" class="imagen derecha">
        </a>
    </div>
</div>
