   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 contenido1">
            <a href="/menu">
                <img src="../../assets/img/logoazul2.png" class="logo-1" alt="eduSeñas">
            </a>
        </div>
        <div class="col-sm-9">
            <app-search-bar></app-search-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="word-list">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h5 class="accordion-header">
                            <button class="accordion-button collapsed h55" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Diccionario
                            </button>
                        </h5>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <ul class="">
                                <li><a href="./a" target="_blank">A</a></li>
                                <li><a href="./abril" target="_blank">Abril</a></li>
                                <li><a href="./agosto" target="_blank">Agosto</a></li>
                                <li><a href="./amarillo" target="_blank">Amarillo</a></li>
                                <li><a href="./b" target="_blank">B</a></li>
                                <li><a href="./blanco" target="_blank">Blanco</a></li>
                                <li><a href="./c" target="_blank">C</a></li>
                                <li><a href="./como" target="_blank">¿Cómo?</a></li>
                                <li><a href="./cual" target="_blank">¿Cuál?</a></li>
                                <li><a href="./cuando" target="_blank">¿Cuándo?</a></li>
                                <li><a href="./d" target="_blank">D</a></li>
                                <li><a href="./diciembre" target="_blank">Diciembre</a></li>
                                <li><a href="./donde" target="_blank">¿Dónde?</a></li>
                                <li><a href="./e" target="_blank">E</a></li>
                                <li><a href="./enero" target="_blank">Enero</a></li>
                                <li><a href="./f" target="_blank">F</a></li>
                                <li><a href="./febrero" target="_blank">Febrero</a></li>
                                <li><a href="./g" target="_blank">G</a></li>
                                <li><a href="./gris" target="_blank">Gris</a></li>
                                <li><a href="./h" target="_blank">H</a></li>
                                <li><a href="./hermana" target="_blank">Hermana</a></li>
                                <li><a href="./hermano" target="_blank">Hermano</a></li>
                                <li><a href="./hija" target="_blank">Hija</a></li>
                                <li><a href="./hijo" target="_blank">Hijo</a></li>
                                <li><a href="./i" target="_blank">I</a></li>
                                <li><a href="./j" target="_blank">J</a></li>
                                <li><a href="./julio" target="_blank">Julio</a></li>
                                <li><a href="./junio" target="_blank">Junio</a></li>
                                <li><a href="./k" target="_blank">K</a></li>
                                <li><a href="./l" target="_blank">L</a></li>
                                <li><a href="./ll" target="_blank">LL</a></li>
                                <li><a href="./m" target="_blank">M</a></li>
                                <li><a href="./mama" target="_blank">Mamá</a></li>
                                <li><a href="./marzo" target="_blank">Marzo</a></li>
                                <li><a href="./mayo" target="_blank">Mayo</a></li>
                                <li><a href="./morado" target="_blank">Morado</a></li>
                                <li><a href="./n" target="_blank">N</a></li>
                                <li><a href="./naranja" target="_blank">Naranja</a></li>
                                <li><a href="./negro" target="_blank">Negro</a></li>
                                <li><a href="./noviembre" target="_blank">Noviembre</a></li>
                                <li><a href="./o" target="_blank">O</a></li>
                                <li><a href="./octubre" target="_blank">Octubre</a></li>
                                <li><a href="./p" target="_blank">P</a></li>
                                <li><a href="./papa" target="_blank">Papá</a></li>
                                <li><a href="./porque" target="_blank">¿Por qué?</a></li>
                                <li><a href="./q" target="_blank">Q</a></li>
                                <li><a href="./quees" target="_blank">¿Qué es?</a></li>
                                <li><a href="./quien" target="_blank">¿Quién?</a></li>
                                <li><a href="./r" target="_blank">R</a></li>
                                <li><a href="./rojo" target="_blank">Rojo</a></li>
                                <li><a href="./rr" target="_blank">RR</a></li>
                                <li><a href="./rosa" target="_blank">Rosa</a></li>
                                <li><a href="./s" target="_blank">S</a></li>
                                <li><a href="./septiembre" target="_blank">Septiembre</a></li>
                                <li><a href="./t" target="_blank">T</a></li>
                                <li><a href="./tia" target="_blank">Tía</a></li>
                                <li><a href="./tio" target="_blank">Tío</a></li>
                                <li><a href="./u" target="_blank">U</a></li>
                                <li><a href="./v" target="_blank">V</a></li>
                                <li><a href="./verde" target="_blank">Verde</a></li>
                                <li><a href="./w" target="_blank">W</a></li>
                                <li><a href="./x" target="_blank">X</a></li>
                                <li><a href="./y" target="_blank">Y</a></li>
                                <li><a href="./z" target="_blank">Z</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="word-cards">
                <div class="card-container">
                    <div class="card-front">A</div>
                    <div class="card-back">
                        <a href="/a">
                            <img src="../../assets/abecedario_IMG/letraa.png" alt="A" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">B</div>
                    <div class="card-back">
                        <a href="/b">
                            <img src="../../assets/abecedario_IMG/letrab.png" alt="B" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">C</div>
                    <div class="card-back">
                        <a href="/c">
                            <img src="../../assets/abecedario_IMG/letrac.png" alt="C" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">D</div>
                    <div class="card-back">
                        <a href="/d">
                            <img src="../../assets/abecedario_IMG/letrad.png" alt="D" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">E</div>
                    <div class="card-back">
                        <a href="/e">
                            <img src="../../assets/abecedario_IMG/letrae.png" alt="E" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">F</div>
                    <div class="card-back">
                        <a href="/f">
                            <img src="../../assets/abecedario_IMG/letraf.png" alt="F" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">G</div>
                    <div class="card-back">
                        <a href="/g">
                            <img src="../../assets/abecedario_IMG/letrag.png" alt="G" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">H</div>
                    <div class="card-back">
                        <a href="/h">
                            <img src="../../assets/abecedario_IMG/letrah.png" alt="H" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">I</div>
                    <div class="card-back">
                        <a href="/i">
                            <img src="../../assets/abecedario_IMG/letrai.png" alt="I" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">J</div>
                    <div class="card-back">
                        <a href="/j">
                            <img src="../../assets/abecedario_IMG/letraj.png" alt="J" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">K</div>
                    <div class="card-back">
                        <a href="/k">
                            <img src="../../assets/abecedario_IMG/letrak.png" alt="K" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">L</div>
                    <div class="card-back">
                        <a href="/l">
                            <img src="../../assets/abecedario_IMG/letral.png" alt="L" class="img-1">
                        </a>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-front">LL</div>
                    <div class="card-back">
                        <a href="/ll">
                            <img src="../../assets/abecedario_IMG/letral.png" alt="LL" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">M</div>
                    <div class="card-back">
                        <a href="/m">
                            <img src="../../assets/abecedario_IMG/letram.png" alt="M" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">N</div>
                    <div class="card-back">
                        <a href="/n">
                            <img src="../../assets/abecedario_IMG/letran.png" alt="N" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">O</div>
                    <div class="card-back">
                        <a href="/o">
                            <img src="../../assets/abecedario_IMG/letrao.png" alt="O" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">P</div>
                    <div class="card-back">
                        <a href="/p">
                            <img src="../../assets/abecedario_IMG/letrap.png" alt="P" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Q</div>
                    <div class="card-back">
                        <a href="/q">
                            <img src="../../assets/abecedario_IMG/letraq.png" alt="Q" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">R</div>
                    <div class="card-back">
                        <a href="/r">
                            <img src="../../assets/abecedario_IMG/letrar.png" alt="R" class="img-1">
                        </a>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-front">RR</div>
                    <div class="card-back">
                        <a href="/rr">
                            <img src="../../assets/abecedario_IMG/letrar.png" alt="RR" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">S</div>
                    <div class="card-back">
                        <a href="/s">
                            <img src="../../assets/abecedario_IMG/letras.png" alt="S" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">T</div>
                    <div class="card-back">
                        <a href="/t">
                            <img src="../../assets/abecedario_IMG/letrat.png" alt="T" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">U</div>
                    <div class="card-back">
                        <a href="/u">
                            <img src="../../assets/abecedario_IMG/letrau.png" alt="U" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">V</div>
                    <div class="card-back">
                        <a href="/v">
                            <img src="../../assets/abecedario_IMG/letrav.png" alt="V" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">W</div>
                    <div class="card-back">
                        <a href="/w">
                            <img src="../../assets/abecedario_IMG/letraw.png" alt="W" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">X</div>
                    <div class="card-back">
                        <a href="/x">
                            <img src="../../assets/abecedario_IMG/letrax.png" alt="X" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Y</div>
                    <div class="card-back">
                        <a href="/y">
                            <img src="../../assets/abecedario_IMG/letray.png" alt="Y" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Z</div>
                    <div class="card-back">
                        <a href="/z">
                            <img src="../../assets/abecedario_IMG/letraz.png" alt="Z" class="img-1">
                        </a>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card-front">Hermana</div>
                    <div class="card-back">
                        <a href="/hermana">
                            <img src="../../assets/familia/hermana.png" alt="Hermana" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Hermano</div>
                    <div class="card-back">
                        <a href="/hermano">
                            <img src="../../assets/familia/hermano.png" alt="Hermano" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Hija</div>
                    <div class="card-back">
                        <a href="/hija">
                            <img src="../../assets/familia/hija.png" alt="Hija" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Hijo</div>
                    <div class="card-back">
                        <a href="/hijo">
                            <img src="../../assets/familia/hijo.png" alt="Hijo" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Mamá</div>
                    <div class="card-back">
                        <a href="/mama">
                            <img src="../../assets/familia/mama.png" alt="Mamá" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Papá</div>
                    <div class="card-back">
                        <a href="/papa">
                            <img src="../../assets/familia/papa.png" alt="Papá" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Tía</div>
                    <div class="card-back">
                        <a href="/tia">
                            <img src="../../assets/familia/tia.png" alt="Tía" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Tío</div>
                    <div class="card-back">
                        <a href="/tio">
                            <img src="../../assets/familia/tio.png" alt="Tío" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Cuándo?</div>
                    <div class="card-back">
                        <a href="/cuando">
                            <img src="../../assets/preguntas/cuando.png" alt="¿Cuándo?" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Cuál?</div>
                    <div class="card-back">
                        <a href="/cual">
                            <img src="../../assets/preguntas/cual.png" alt="¿Cuál?" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Cómo?</div>
                    <div class="card-back">
                        <a href="/como">
                            <img src="../../assets/preguntas/como.png" alt="¿Cómo?" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Qué es?</div>
                    <div class="card-back">
                        <a href="/quees">
                            <img src="../../assets/preguntas/quees.png" alt="¿Qué es?" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Quién?</div>
                    <div class="card-back">
                        <a href="/quien">
                            <img src="../../assets/preguntas/quien.png" alt="¿Quién?" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Dónde?</div>
                    <div class="card-back">
                        <a href="/donde">
                            <img src="../../assets/preguntas/donde.png" alt="¿Dónde?" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Por qué?</div>
                    <div class="card-back">
                        <a href="/porque">
                            <img src="../../assets/preguntas/porque.png" alt="¿Por qué?" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Enero</div>
                    <div class="card-back">
                        <a href="/enero">
                            <img src="../../assets/meses/enero.png" alt="Enero" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Febrero</div>
                    <div class="card-back">
                        <a href="/febrero">
                            <img src="../../assets/meses/febrero.png" alt="Febrero" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Marzo</div>
                    <div class="card-back">
                        <a href="/marzo">
                            <img src="../../assets/meses/marzo.png" alt="Marzo" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Abril</div>
                    <div class="card-back">
                        <a href="/abril">
                            <img src="../../assets/meses/abril.png" alt="Abril" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Mayo</div>
                    <div class="card-back">
                        <a href="/mayo">
                            <img src="../../assets/meses/mayo.png" alt="Mayo" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Junio</div>
                    <div class="card-back">
                        <a href="/junio">
                            <img src="../../assets/meses/junio.png" alt="Junio" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Julio</div>
                    <div class="card-back">
                        <a href="/julio">
                            <img src="../../assets/meses/julio.png" alt="Julio" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Agosto</div>
                    <div class="card-back">
                        <a href="/agosto">
                            <img src="../../assets/meses/agosto.png" alt="Agosto" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Septiembre</div>
                    <div class="card-back">
                        <a href="/septiembre">
                            <img src="../../assets/meses/septiembre.png" alt="Septiembre" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Octubre</div>
                    <div class="card-back">
                        <a href="/octubre">
                            <img src="../../assets/meses/octubre.png" alt="Octubre" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Noviembre</div>
                    <div class="card-back">
                        <a href="/noviembre">
                            <img src="../../assets/meses/noviembre.png" alt="Noviembre" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Diciembre</div>
                    <div class="card-back">
                        <a href="/diciembre">
                            <img src="../../assets/meses/diciembre.png" alt="Diciembre" class="img-1">
                        </a>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card-front">Amarillo</div>
                    <div class="card-back">
                        <a href="/amarillo">
                            <img src="../../assets/colores/amarillo.png" alt="Amarillo" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Azul</div>
                    <div class="card-back">
                        <a href="/azul">
                            <img src="../../assets/colores/azul.png" alt="Azul" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Blanco</div>
                    <div class="card-back">
                        <a href="/blanco">
                            <img src="../../assets/colores/blanco.png" alt="Blanco" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Gris</div>
                    <div class="card-back">
                        <a href="/gris">
                            <img src="../../assets/colores/gris.png" alt="Gris" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Morado</div>
                    <div class="card-back">
                        <a href="/morado">
                            <img src="../../assets/colores/morado.png" alt="Morado" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Naranja</div>
                    <div class="card-back">
                        <a href="/naranja">
                            <img src="../../assets/colores/naranja.png" alt="Naranja" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Negro</div>
                    <div class="card-back">
                        <a href="/negro">
                            <img src="../../assets/colores/negro.png" alt="Negro" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Rojo</div>
                    <div class="card-back">
                        <a href="/rojo">
                            <img src="../../assets/colores/rojo.png" alt="Rojo" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Rosa</div>
                    <div class="card-back">
                        <a href="/rosa">
                            <img src="../../assets/colores/rosa.png" alt="Rosa" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Verde</div>
                    <div class="card-back">
                        <a href="/verde">
                            <img src="../../assets/colores/verde.png" alt="Verde" class="img-1">
                        </a>
                    </div>
                </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    
//     document.addEventListener('DOMContentLoaded', function() {
//     var elems = document.querySelectorAll('.collapsible');
//     var instances = M.Collapsible.init(elems, options);
//   });

</script>

    

